

.error textarea{
    border: red solid 2px;
}
.error input{
    border: red solid 2px;
}
.error span {
    color: red
}
.FormSummaryError {
    border: red solid 2px;
    padding: 5px;
    color: red
}