
.app-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #f8f9fa

}

.app-body {
    display: flex;
    position: relative;
    height: 100%;
    width: 70%;
    margin: 15px auto 0 auto;
}

.app-wrapper-content {
    position: relative;
    box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 10%);
    background: #fff;
    transition: all .3s ease-in-out;
    left: 15px;
    padding: 15px;
    width: 70vw;


}


