
.app-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #f8f9fa

}

.app-body {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.app-wrapper-content {
    position: relative;
    box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 10%);
    background: #fff;
    top: 4.688rem;
    transition: all .3s ease-in-out;
    left: 300px;

}


